Makefile
Makefile.old
/README
blib/
inc/
test.pl
MYMETA.*
META.yml
MANIFEST.bak
pm_to_blib
ppport.h
Stream.bs
src/Data-MessagePack-Stream.[co]
msgpack-*/config.h
msgpack-*/config.log
msgpack-*/config.status
msgpack-*/libtool
msgpack-*/msgpack.pc
msgpack-*/src/.deps/
msgpack-*/src/.libs/
msgpack-*/src/*.la
msgpack-*/src/*.lo
msgpack-*/src/*.o
msgpack-*/stamp-h1
msgpack-*/test/.deps/
msgpack-*/autom4te.cache/
