Makefile
Makefile.old
/README
blib/
inc/
test.pl
MYMETA.*
META.yml
MANIFEST.bak
pm_to_blib
ppport.h
Stream.bs
src/Data-MessagePack-Stream.[co]
msgpack-1.4.2/config.h
msgpack-1.4.2/config.log
msgpack-1.4.2/config.status
msgpack-1.4.2/libtool
msgpack-1.4.2/msgpack.pc
msgpack-1.4.2/src/.deps/
msgpack-1.4.2/src/.libs/
msgpack-1.4.2/src/*.la
msgpack-1.4.2/src/*.lo
msgpack-1.4.2/src/*.o
msgpack-1.4.2/stamp-h1
msgpack-1.4.2/test/.deps/
