/.build/
/_build/
/Build
/Build.bat
/blib
Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj
lib/**/*.c
ppport.h

!LICENSE

/_build_params

MYMETA.*

/Data-MessagePack-Stream-*

msgpack-*/CMakeCache.txt
msgpack-*/CMakeFiles/
msgpack-*/cmake_install.cmake
msgpack-*/libmsgpackc.a
msgpack-*/msgpack-config-version.cmake
msgpack-*/msgpack-config.cmake
msgpack-*/msgpack-targets.cmake
msgpack-*/msgpack.pc
